# Virtual environment
.venv/
myenv/
backend/myenv/
frontend/node_modules/

backend/myenv/
frontend/node_modules/

frontend/package-lock.json
frontend/.next

backend/.env 

backend/venv/
backend/.env
.env


# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# OS
.DS_Store
Thumbs.db
start-backend.sh
start-frontend.sh

# IDE
.vscode/
.idea/